.custom-header {
    width: 100%;
    height: 100vh;
    color: white;
    background-image: url('https://picsum.photos/320/750?image=999');
    background-size: cover;
    text-align: center;
    /* 內容垂直置中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 設定電腦版(>=767px)的CSS => min-width: 767px */

/* 設定行動裝置(<=766px)的CSS => max-width: 766px */

/* mediaquery */

@media (min-width: 767px) {
    /* 只有裝置寬度大於等於767px才能使用的CSS選擇器 */
    .custom-header {
        height: 50vh;
        background-image: url('https://picsum.photos/1200/400?image=999');
    }
    .custom-header h3 {
        font-size: 52px;
    }
}