<!--
Author: W3layouts
Author URL: http://w3layouts.com

-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>名詩出高圖 服務頁面</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Infinitude Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    
    <!-- Cookie -->
    <script>
      
    </script>

    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="../static/css/style_poem.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 連結Bootstrap所需要的js -->
    <!-- 更新為完整的jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.2/randomColor.min.js"></script>
    <script src="../static/js/jquery.loading.js"></script>


</head>

<body>
    <!--/home -->
    <div id="home" class="inner-w3pvt-page">
        <div class="overlay-innerpage">
            <!--/top-nav -->
            <div class="top_w3pvt_main container">
                <!--/header -->
                <header class="nav_w3pvt text-center">
                    <!-- nav -->
                    <nav class="wthree-w3ls">
                        <div id="logo">
                            <h1> <a class="navbar-brand px-0 mx-0" href="index_poem"><img src="../static/images/logo_transparent.png" alt="LOGO圖" class="navbar-brand px-0 mx-0" href="index.html"> 名詩出高圖
                                </a>
                            </h1>
                        </div>

                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu mr-auto">
                            <li><a href="index_poem">Home</a></li>
                            <li class="active"><a href="services_poem">Services</a></li>
                        </ul>
                    </nav>
                    <!-- //nav -->
                </header>
                <!--//header -->

                <!--/breadcrumb-->
                <div class="inner-w3pvt-page-info">
                    <ol class="breadcrumb d-flex">
                        <li class="breadcrumb-item active">服務頁面</li>
                    </ol>

                </div>
                <!--//breadcrumb-->
            </div>
            <!-- //top-nav -->
        </div>
    </div>
    <!-- //home -->

    <!--/mid-->
    <section class="loading-div banner_bottom py-5" id="loading-start">
        <div class="container py-md-5">
            <div class="row inner_sec_info">
                <div class="col-lg-12 banner_bottom_left">
                    <div class="login p-md-5 p-4 mx-auto bg-white mw-100">                   
                        <div>
                            <div class="form-group">
                                <label for="content">唐詩內文</label>
                                <textarea id="content"  class="form-control"></textarea>
                            </div>
                          
                            <div class="col-lg-3 con-gd" >
                                <button type="submit" id="btn_submit" class="btn submit" >送出</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--//mid-->

    <!-- copyright -->
    <div class="copy_right p-3 d-flex">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 copy_w3pvt">
                    <p class="text-lg-left text-center">© 2020 NCU MIS Group8. All rights reserved | Design by
                        <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
                </div>
                <!-- move top -->
                <div class="col-lg-3 move-top text-lg-right text-center">
                    <a href="#home" class="move-top">
                        <span class="fa fa-angle-double-up mt-3" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- move top -->
            </div>
        </div>

    </div>
    <!-- //copyright -->
</body>

</html>

<script>
    //用json的方式POST
    $(function() {        
        $('#btn_submit').click(function() {
            $('body').loading({
                onStart: function(loading) {
                    loading.overlay.slideDown(400);
                },
                message: '圖片製作中，請稍等:)'
            });
            var data = {
            "context":$('#content').val()
        }
            
        $.ajax({
            url: 'poem',           //'/et_web/post_step'
            data: JSON.stringify(data),
            contentType: 'application/json;charset=UTF-8',         //$('form').serialize()
            type: 'POST',
            success: function(response) {
                console.log(data)               
                console.log(response);
                window.location.href = "{{ url_for('output_poem')}}"
            },
            error: function(error) {
                console.log(error);
                }
            });
        
        });

        
    });    
</script>