<!DOCTYPE html>
<html lang="en">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<head>
    
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #list{
            overflow: hidden;
        }
        #list .item{
            float: left;
            width: 100px;
            height: 100px;
            display: flex;
            margin-left: 10px;
            display: -webkit-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        #list .item img{
            display: inline-block;
            max-width: 100%;
            max-height: 100%;
        }
    </style>
    <!-- <script>
    function saveFile(){
        alert("?");
        var link = document.getElementById('download');
        link.download="image.jpg";
        link.href = context.toDataURL("image/jpg");
        link.click();
        alert("???");
    }
    </script> -->
</head>
<body>
    <canvas height="960" width="960" style="width: 100%;" id="test"></canvas>
    <div id="list"></div>
    <button id="save">保存</button>
    <a id="download"></a>
<!-- <canvas height="960" width="960" style="width: 100%;" id="test"></canvas>

<div id="list"></div>
<button id="save" onchange="saveFile()">保存</button>
<a id="download"></a> -->
<script src="../static/js/test4.js"></script>
<script>
    $(function() {
        
    $.ajax({
        url: 'post_step',                //'../post_step'
        //data: JSON.stringify(data),
        contentType: 'application/json;charset=UTF-8',         //$('form').serialize()
        type: 'GET',
        success: function(response) {
            //window.location.href = response.url
            table_str=""
            for (step=0;step<response.length;step++)
            {
                
                //image_str='<tr><th>STEP'+(step+1)+'</th>'
                for(image=0;image<response[step].length;image++)
                {
                    addicon(response[step][image],image);
                    //image_str+='<td><img src="'+response[step][image]+'"></img></td>';
                }
                //image_str+='</tr>'
                //table_str+=image_str            
            }
            
            //$('#step_table').html(table_str);
            
            console.log(response);
        },
        error: function(error) {
            console.log(error);
            }
        });
 
});
</script>
</body>
</html>
